@import './Variables.css';

.paquetes-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  background-color: var(--background-color)
}

.paquete-card {
  webkit-backdrop-filter: blur(10px);
  box-shadow: var(--box-shadow);
  background-color:var(--card-color);
  border: 2px solid var(--card-border-color);
  border-radius: 20px;
  padding: 2rem;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
  animation: fadeInUp 1s ease;
}

.paquete-card:hover {
  transform: translateY(-5px);
}

.paquete-card h3 {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.paquete-card p {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--botton-dark-color);
}

.paquete-card ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

.paquete-card ul li {
  margin-bottom: 0.5rem;
  color: var(--text-color)
}

.paquete-card button {
  background-color: var(--botton-dark-color);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.paquete-card button:hover {
  background-color: var(--background-button-hover);
}

/* Banner "Conoce más" */
.conoce-mas-banner {
  text-align: center;
  margin-top: 40px;
}

.conoce-mas-banner p {
  font-size: 24px;
  margin-bottom: 10px;
}

.flecha-down {
  font-size: 30px;
  cursor: pointer;
}

/* Estilo general para la sección "¿Qué contiene?" */
.que-contiene-container {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 40px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo-que-contiene {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  align-self: flex-start; 
}

/* Contenedor para la imagen y las tarjetas */
.contenidos-productos {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  flex-wrap: wrap;
}

.imagen-que-contiene {
  flex: 1; 
  padding-right: 20px;
}

.imagen-que-contiene img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.productos-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 20px; 
  width: 60%;
  justify-items: center;
  align-self: right; 
  background-color: var(--background-color);
  color: var(--text-color);
} 

.card-producto {
  background-color: var(--card-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: transform 0.3s ease;
}

.card-producto:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-producto h3 {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.card-producto p {
  font-size: 14px;
  color: var(--text-color);
}

/* Asegura que si hay un número impar de productos, el último esté centrado */
.card-producto.centered {
  grid-column: span 2;
  justify-self: center;
}

/* Móvil y pantallas pequeñas */
@media (max-width: 768px) {
  .contenidos-productos {
    flex-direction: column; 
    align-items: center;
  }

  .imagen-que-contiene {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .imagen-que-contiene img {
    width: 80%;
  }

  .productos-cards {
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 200px;
  }

  .card-producto {
    width: 80%; 
  }
}

/* Tablets */
@media (max-width: 1024px) {
  .productos-cards {
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 430px;
  }

  .card-producto {
    width: 80%;
  }

  .contenidos-productos {
    flex-direction: column;
    align-items: center;
  }

  .imagen-que-contiene {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .imagen-que-contiene img {
    width: 80%;
  }
}

.opinan-container {
  padding: 40px;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap; 
}

.titulo-opinan {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0;
  min-width: 250px;
}


.opinan-cards {
  display: flex;
  justify-content: flex-end; /* Alinea las cards a la derecha */
  gap: 20px;
  flex-wrap: wrap;
}

.card-opinion {
  background-color: var(--card-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 250px; /* Ancho de las tarjetas */
  text-align: center;
  transition: transform 0.3s ease;
}

.card-opinion:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-opinion h3 {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.card-opinion p {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.5;
}

/* Hacer la sección responsive */
@media (max-width: 768px) {
  .opinan-cards {
    justify-content: center; 
  }
  .card-opinion {
    width: 80%;
  }
}

.marcas-container {
  padding: 60px 40px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.titulo-marcas {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--text-color);
}

.marcas-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.logo-marca {
  height: 200px;
  object-fit: contain;
  transition: filter 0.3s ease;
}

.logo-marca:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo-marca {
    height: 120px;
  }
}
