.paquetes-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  background-color: var(--background-color)
}

.paquete-card {
  background-color:var(--card-color);
  border: 2px solid var(--card-border-color);
  border-radius: 20px;
  padding: 2rem;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
  animation: fadeInUp 1s ease;
}

.paquete-card:hover {
  transform: translateY(-5px);
}

.paquete-card h3 {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.paquete-card p {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-color);
}

.paquete-card ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

.paquete-card ul li {
  margin-bottom: 0.5rem;
  color: var(--text-color)
}

.paquete-card button {
  background-color: var(--secondary-color);
  color: #f5f5f5;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.paquete-card button:hover {
  background-color: var(--background-button-hover);
}
