.checkout-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1.5rem; 
  background-color: var(--card-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-content {
  text-align: center;
  margin-bottom: 2rem; /* Espacio entre el contenido y el botón de regreso */
}

.checkout-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.checkout-summary {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
}

.checkout-actions {
  text-align: center;
  margin-bottom: 2rem; /* Espacio entre el botón de regreso y el footer */
}

.back-button {
  background-color: var(--botton-dark-color);
  color: #fff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.back-button:hover {
  background-color: var(--background-button-hover);
}