@import './Variables.css';

.paquetes-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  background-color: var(--background-color)
}

.paquete-card {
  webkit-backdrop-filter: blur(10px);
  box-shadow: var(--box-shadow);
  background-color:var(--card-color);
  border: 2px solid var(--card-border-color);
  border-radius: 20px;
  padding: 2rem;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
  animation: fadeInUp 1s ease;
}

.paquete-card:hover {
  transform: translateY(-5px);
}

.paquete-card h3 {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.paquete-card p {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--botton-dark-color);
}

.paquete-card ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

.paquete-card ul li {
  margin-bottom: 0.5rem;
  color: var(--text-color)
}

.paquete-card button {
  background-color: var(--botton-dark-color);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.paquete-card button:hover {
  background-color: var(--background-button-hover);
}

/* Banner "Conoce más" */
.conoce-mas-banner {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
}

.conoce-mas-banner p {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--tit-text-color); 
  font-weight: bold;
}

.flecha-down {
  font-size: 60px; 
  cursor: pointer;
  color: var(--text-color); 
  transition: transform 0.3s ease, color 0.3s ease;
  animation: bounce 2s infinite;
}

.flecha-down:hover {
  color: var(--secondary-color); 
  transform: scale(1.2); 
}

/* Animación de rebote */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Sección "¿Cómo Funciona?" */
.como-funciona-container {
  text-align: center;
  padding: 2rem;
  background-color: var(--background-color);
  margin: 2rem 0;
}

.titulo-como-funciona {
  font-size: 2rem;
  color: var(--tit-text-color);
  margin-bottom: 1.5rem;
}

.pasos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta dinámicamente las columnas */
  gap: 20px;
  justify-items: center;
  color : var(--text-color);
}

.paso-card {
  background-color: var(--card-color);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: transform 0.3s ease;
}

.paso-card:hover {
  transform: scale(1.05);
}

.paso-card h3 {
  font-size: 1.5rem;
  color:var(--tit-text-color);
  margin-bottom: 0.5rem;
}

.paso-card p {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.5;
}

/* Estilo general para la sección "¿Qué contiene?" */
.que-contiene-container {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 40px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.titulo-que-contiene {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  align-self: flex-start; 
  color : var(--tit-text-color);
}


.contenidos-productos {
  display: flex;
  justify-content: center; 
  width: 100%;
  flex-wrap: wrap;
}

.imagen-que-contiene {
  flex: 1; 
  padding-right: 20px;
}

.imagen-que-contiene img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.productos-cards {
  gap: 30px; 
  max-width: 1200px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
} 

.card-producto {
  background-color: var(--card-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-align: center;
  flex-grow: 1;
  aspect-ratio: 3/2;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box; 
  transition: transform 0.3s ease;
}

.card-producto:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-producto h3 {
  font-size: 20px;
  color: var(--tit-text-color);
  margin-bottom: 30px;
}

.card-producto p {
  font-size: 14px;
  color: var(--text-color);
}

.marcas-container {
  padding: 60px 40px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.titulo-marcas {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--tit-text-color);
}

.marcas-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.logo-marca {
  height: 200px;
  object-fit: contain;
  transition: filter 0.3s ease;
}

.logo-marca:hover {
  cursor: pointer;
}

.que-contiene-container[data-aos="fade-up"] > .contenidos-productos > .productos-cards > .card-producto > img.imagen-producto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.que-contiene-container[data-aos="fade-up"] > .contenidos-productos > .productos-cards > div.card-producto {
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  width: 100%;
  height: 400px;           /* ajusta a tu altura deseada */
  padding: 0rem;           /* tu padding original */
  border-radius: 20px;     /* tu border-radius */
  box-shadow: var(--box-shadow);
  background-color: var(--card-color);
  border: 2px solid var(--card-border-color);
}


@media (max-width: 768px) {
  .logo-marca {
    height: 120px;
  }
}
