:root {
    /* Colores principales */
    --tit-text-color: #6d4c41;
    --secondary-color: #5d4037;
    --secondary-color-hover: #4b2d26; 
    --accent-color: #4e342e;
    --accent-color-hover: #3e2723; 
    --background-color: #f7e4e4;
    --light-background-color: #efebe9;
    --input-border-color: #d7ccc8; 
    --input-background-color: #f5f5f5; 
    --text-color: #4e342e;
    --text-light-color: #f5f5f5;
    --card-color: #f8e7cece;
    --card-border-color: #d8c3a5;
    /* Tipografía */
    --font-family: 'Georgia', serif;
    --font-size-base: 1rem;
    --font-size-large: 1.2rem;
    --font-size-small: 0.9rem;
    --font-size-title: 1.8rem; 
    --botton-dark-color: #8b4513;
    /* Espaciado */
    --padding-base: 1rem;
    --margin-base: 1rem;
    --color-table: white;
    /* Bordes */
    --border-radius: 20px;
    --box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    /* Transiciones */
    --transition-duration: 0.3s;
  }

  body.dark-mode {
     --tit-text-color: #f1884b;
    --secondary-color: #424242;
    --accent-color: #ffcc80;
    --background-color: #121212;
    --light-background-color: #1e1e1e;
    --text-color: #ffffff;
    --input-background-color: #2c2c2c;
    --input-border-color: #555;
    --accent-color-hover: #ffa000;
    --box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    --botton-dark-color: #8b4513;
    --card-color: #2c2c2c;
    --card-border-color: #444;
    --color-table: #424242;
  }